examples/notify_multiple_switches.json
[
    {
        "id": "e23e089f.6aecb8",
        "type": "inject",
        "z": "f651da8c.4816f8",
        "name": "ozw",
        "props": [
            {
                "p": "payload.zwave",
                "v": "ozw",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "b38bd8b8.5a2af8"
            ]
        ]
    },
    {
        "id": "b38bd8b8.5a2af8",
        "type": "inovelli-notification-calculator",
        "z": "f651da8c.4816f8",
        "name": "",
        "nodeid": "",
        "entityid": "",
        "zwave": "ozw",
        "color": "162",
        "brightness": "3",
        "duration": "10",
        "effect": "1",
        "switchtype": "25",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "bd1ff2ef.d0ba4"
            ]
        ]
    },
    {
        "id": "531f74fb.6c3d3c",
        "type": "api-call-service",
        "z": "f651da8c.4816f8",
        "name": "Node Test 1",
        "server": "7931a4b6.dc7fbc",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "{\"node_id\":4}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 710,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2f9b477.d2230b8",
        "type": "comment",
        "z": "f651da8c.4816f8",
        "name": "",
        "info": "Note: Entity/node id is not set in the calculator node, it is set on the svc calls and the svc call only inherits the value and other params",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "512127e0.1bdb88",
        "type": "api-call-service",
        "z": "f651da8c.4816f8",
        "name": "Node Test 2",
        "server": "7931a4b6.dc7fbc",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "{\"node_id\":6}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 710,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "70313fd0.43899",
        "type": "api-call-service",
        "z": "f651da8c.4816f8",
        "name": "Entity Test 1",
        "server": "7931a4b6.dc7fbc",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "{\"entity_id\":\"light.guest_bedroom_fan_light_dimmer_light_level\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a17211a.c34e5f",
        "type": "api-call-service",
        "z": "f651da8c.4816f8",
        "name": "Entity Test 2",
        "server": "7931a4b6.dc7fbc",
        "version": 1,
        "debugenabled": false,
        "service_domain": "",
        "service": "",
        "entityId": "",
        "data": "{\"entity_id\":\"light.guest_bedroom_fan_light_dimmer_light_level\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "95a616b3.240488",
        "type": "inject",
        "z": "f651da8c.4816f8",
        "name": "zwave_js",
        "props": [
            {
                "p": "payload.zwave",
                "v": "zwave_js",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "b38bd8b8.5a2af8"
            ]
        ]
    },
    {
        "id": "bd1ff2ef.d0ba4",
        "type": "switch",
        "z": "f651da8c.4816f8",
        "name": "",
        "property": "payload.domain",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ozw",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zwave_js",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "531f74fb.6c3d3c",
                "512127e0.1bdb88"
            ],
            [
                "70313fd0.43899",
                "a17211a.c34e5f"
            ]
        ]
    },
    {
        "id": "7931a4b6.dc7fbc",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
